
.formcontainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: black;
  border: 4px solid #ff23fd;
  padding: 20px; 
  border-radius: 22px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  margin: 100px auto 20px; 
  width: 50%;
}

.formcontainer h4, .form-info ,.confirmation-message {
text-align: center;
}

.formcontainer .form-info{
  margin-bottom: 0px;
  font-size: larger;
}
.formcontainer h4{
  font-size: x-large;
}



.formcontainer .MuiInputBase-input {
  border-bottom: 2px solid white;
  color: #ff23fd;
  padding: 0;

}

a {
  color: white ;
}

.formcontainer span{
  display: block;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  color: white;
}

.availability-input{
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
 

.availability-labels{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.availibility-labels div{
  flex:1;
  text-align: center;
  
}


.delete-button{
  padding:5px 10px;
  font-size: 12px;
  border: none;
  border-radius: 3px;

}

.date-input {
  border-bottom: 2px solid white;
  color: #ff23fd;
  background: black;
  margin-right: 0;
  padding: 3px;
  width: 60%;
}


 


 .submit-button{
  display: flex;
  margin-top: 10px;
  justify-content: center;  
  
}
.error{
  margin-top: 10px;
  text-align: center;
  color: red;
}