
form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  border: 4px solid #ff23fd;
  padding: 20px; 
  border-radius: 22px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  margin: 100px auto 20px; 
  width: 50%;
}

h4 {
  margin-left: 0;
}

.form-info p{
  color: white;

}