.board-container {
    background: black;
    padding-top: 100px; /* Ensure enough space for the heading */
    min-height: 100vh; /* Ensure it covers the entire viewport height */
    color: white; /* Make text white for better readability on dark background */
    position: relative;
    overflow-y: none; /* Enable vertical scrolling */  
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

html, body {
    height: 100%;
    overflow: visible; /* Enable scrolling */
}

.board-heading {
    text-align: center;
    font-size: 65px;
    background: linear-gradient(90deg, #6a00f4, #ff60f6); /* Purple to pink gradient */
    color: white; /* Ensure the text color is white */
    height: 3em;
    margin-top: 0;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.team-section {
    text-align: center;
    margin-top: 10px; /* Adjust the top margin as needed */
    padding-top: 20px; /* Add some padding to push the content down */
    position: relative;
}

.team-heading {
    display: inline-block;
    margin-bottom: 15px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 45px;
    transition: background-color 0.3s, color 0.3s, text-shadow 0.3s;
    letter-spacing: .1rem;
}

.box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: auto;
    background-color: black; /* Background behind all boxes */
    padding: 20px;
}


.board1-container {
    display: flex;
    justify-content: center;
}

.box {
    width: 200px;
    height: 200px;
    margin: 20px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    flex: 0 0 auto;
    box-shadow: -6px -6px 0px 0px rgba(106, 0, 244, 1), /* Purple offset top-left */
                6px 6px 0px 0px rgba(255, 96, 246, 1); /* Pink offset bottom-right */
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: row; /* Stack content vertically */
    justify-content: center; 
    align-items: center; 
    opacity: 0;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-family:'nunito sans';
    font-size: 14px;
}

.name {
    font-weight: bold;
    margin-top: 50px;
    font-family: 'nunito sans', sans-serif;
    font-size: 27px;

}

.position {
    font-style: italic;
    font-size: 10px;
    margin-top: 1px;
    font-family: 'nunito sans', sans-serif;

}

.description-text {
    margin-top: 1px; 
}

.box:hover img {
    transform: none;
}

.box:hover .description {
    opacity: 1;
}

.box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Space between the boxes */
    margin-right: 5em; /* Space to the left/right of boxes */
    margin-left: 5em;  /* ^^ */
}

.additional-image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -10px; /* Reduce space between the box and the name/position */
}

.additional-image-container h3 {
    font-size: 30px;
    white-space: nowrap;
    margin-bottom: -5px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.1rem;
}

.name {
    font-weight: bold;
    margin: 5px 0; /* Space between the name and the position */
    font-size: 36px;
}

.position {
    font-style: italic;
    font-size: smaller;
}

/* Styles for mobile screens */
@media (max-width: 600px) {
    .box-container {
        flex-direction: column; 
        align-items: center;
        padding-top: 20px; /* Add padding to move content down */
    }

    .box {
        width: 80%; 
        max-width: 300px; 
        height: auto; 
        margin: 20px 0;
    }

    .board1-container {
        display: flex;
        justify-content: center;
        padding-top: 20px; /* Add padding to move content down */
    }

    .team-section {
        margin-top: 20px; /* Add margin to move content down */
        margin: 30px;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    .box-container {
        flex-direction: column; 
    }
}