@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.home-container {
  width: 100%;
  z-index: 0;
}

body { /* Reset the default body styles */
  margin: 0;
  padding: 0;
  background-color: black;
}

.hero-section { /* Styles for the hero (opening) section */
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

.hero-background {
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 130%;
  z-index: -1; /* Ensure background is behind content */
}

.hero-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: translateY(20%); /* Move the video up by 20% */
}

.motto { /* Styles for the motto text */
  font-size: 4.0em;
  font-family: 'Bebas Neue', sans-serif; /* Singleweight font which doesn't have built-in bold styling */
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
}


.bold-effect { /* Provides a bold effect on the emphasized words in the motto */
  text-shadow: 
    2px 2px 2px rgba(0,0,0,0.9), 
    4px 4px 4px rgba(0,0,0,0.8),
    6px 6px 6px rgba(0,0,0,0.7),
    8px 8px 8px rgba(0,0,0,0.6),
    10px 10px 10px rgba(0,0,0,0.5);
}


.hero-content { /* Styles for the whole hero section (motto, request button, and request prompt) */
  position: relative;
  top: 40px; /* Move the hero content slightly down */
}

@keyframes fadeIn { /* Keyframes for the fade animation */
  from { opacity: 0; }
  to { opacity: 1; }
}


.request-narcan img {
  height: 200px; 
  width: auto;
  vertical-align: middle;
  animation: fadeIn 3s; /* Apply the fade animation */
  margin-top: -80px;
}

.request-narcan img:hover {
  filter: brightness(1.5); /* Light up effect on hover */
}

.header-section .main-header {
  text-align: center;
  color: purple;
  margin-bottom: 20px;
}

.stat-boxes {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.stat-box {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: purple; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.mission-statement {
  background-color: purple;
  color: white;
  padding: 20px;
  text-align: center;
}

.prevent-overdose-stats {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}