.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: black;
    border: 4px solid #ff23fd;
    padding: 10px; 
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin: 100px auto 20px; 
    width: 50%;

  }

.container .preamble{
  margin-top: 0;
  text-align: center;
  color: white ;
}

.container .MuiInputBase-input {
    border-bottom: 2px solid white;
    color: #ff23fd;
    padding: 0;
    margin-bottom: 5px;



  }


 .MuiTooltip-tooltip {
    text-align: center;

}
.custom-icon{
  color:#ff23fd;
}

  .submit-btn{
    display: flex;
    justify-content: center;
  }



