.founders-page-container {
    background-image: url('./images/Purple light.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    font-family: "Lucida Console", "Courier New", monospace;
    

}

.founders-page-container p {
    margin-left: 350px; 
    margin-right: 350px; 
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

.box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box {
    width: 200px;
    height: 200px;
    margin: 20px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.box:hover img {
    transform: scale(1.1);
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px; 
    box-sizing: border-box;
    text-align: center;
}

.box:hover .description {
    opacity: 1;
}

.additional-image-container {
    width: 200px; 
    margin: 0 10px; 
}

.additional-image {
    max-width: 100px; 
    height: auto;

}

.additional-image-container h3 {
    font-size: 15px;
    white-space: nowrap; 
}

@media (max-width: 400px) and (max-height: 620px) {
    .founders-page-container p {
        display: block;
        font-size: 11px;
        margin-left: 10px;
        margin-right: 10px;
      }

    .box-container {
        display: flex;
        justify-content: center;
        align-items: flex-start; 
        width: 80%;
        height: auto;
        margin: 20px 70px;
        flex-direction: column;
    }

    .box-wrapper {
        flex-direction:column;
        align-items: center;
    }

}

