

/*Navbar css */
.navbar {
  text-align: center;
}

.navbar a{
  color: white;
  text-decoration: none;
  display: inline-block;

}

.navbar a:hover {
  color: white;
  text-decoration: underline;
}

.navbar nav button, a{
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
}


.navbar .title{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  max-width: 40%;

}
/*Resources page recognition section*/

.Resources-page{
  text-align: center;
  margin: auto auto;
}

.recognition  {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  margin-top: 20px;
  max-width: 50%;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius:  10px; ;
  padding: 10px;
  box-shadow:5px 5px 5px grey ;
  display: flex;
  font-family: sans-serif;
  background-color: rgba(128, 128, 128, 0.185);
  
}
.recognition p{
  color: black;
}

/*Resources page Cards*/
.card{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  padding: 10px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  
}

.card .card-image{
  max-width: 90%;
  height:auto;
  margin-bottom: 10px;
}
.card .card-image:hover  {
  cursor: pointer;
  transform: scale(1.1);
  height: 150x;
  transition: transform .5s;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin-top: 0 ;
  font-size: 13pt;
  color: black;
}
.card .card-text{
  font-family: Arial, sans-serif;
  color: black;
}

