body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    height: 100%;
}

.AboutUs-page {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh; 
    overflow: hidden; /* Prevents scrolling */
}

/* New style for video background */
.AboutUs-page video {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire background */
    transform: translate(-50%, -50%);
    z-index: -1; /* Places the video behind the content */
}

.leadership-image-container h1{
    font-family: 'Economica', sans-serif; /* Apply the Economica font */
    color: white;
    padding-top: 175px;
    font-size: 55px;

}

.leadership-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.leadership-image-container img {
    max-width: 30%;
    height: auto;
    border-radius: 10px;
    padding-top: 115px;
}

.button-left,
.button-right {
    position: absolute;
    top: 150%; /* Adjusted to keep the buttons centered vertically */
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none; 
    font-size: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01); /* Drop shadow */

}

.button-left {
    left: 23%; /* Adjusted to keep the button on the left */
}

.button-right {
    right: 27%; /* Adjusted to keep the button on the right */
}

.button-left:hover,
.button-right:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9); /* Enhanced drop shadow on hover */
    color: black;
    
    
}

.additional-text {
    font-size: 100px; 
    margin-top: 20px;
}

.apply-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.apply-image {
    max-width: 30%;
    height: auto;
    border-radius: 10px;
    padding-top: 90px;
    margin-left: 55px;
    transition: transform 0.3s, box-shadow 0.3s; /* Added transition for hover effect */
}

.apply-image:hover {
    transform: scale(1.1); /* Scale image slightly */
}

/* Mobile View */
@media (max-width: 480px) {

    .mobile-image-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        width: 100%;
        height: 100%;
        background-image: url('images/mobileViewImg.png');
        background-size: cover;
        background-position: center;
    }

    .leadership-image-container h1{
        font-family: 'Economica', sans-serif; /* Apply the Economica font */
        color: white;
        padding-top: 175px;
        font-size: 49px;
    
    }
    .leadership-image-container img {
        max-width: 90%;
        padding-top: 90px;
    }

    .button-left,
    .button-right {
        top: 185%; 
        padding: 6px 92px; 
        font-size: 22px; 
        color: white;
    }

    .button-left {
        left: 40%;
        background-color: transparent;
    }

    .button-right {
        right: 50%;
    }

    .additional-text {
        font-size: 50px;
    }

    .apply-image {
        max-width: 100%;
        padding-top: 30px;
        margin-left: 0;
        top: 20%;
    }
}
